{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Institute for Language Technology{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Social Media icons -->
    <meta property="og:image" content="http://linguistlist.org/images/lllogo-large.jpg" />
    <meta property="og:image:secure_url" content="https://linguistlist.org/images/lllogo-large.jpg" />
    <meta property="og:description" content="The LINGUIST List, International Linguistics Community Online." />

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">


    <!-- styles -->

</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<div id="wrap">
    {% include 'base/_menu.html' %}
    {% block content %}{% endblock %}
</div>
{% include 'base/_js.html' %}
{%  block extra_js %}{%  endblock %}

{% include 'base/_footer.html' %}

</body>
</html>